<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01794299/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **¿Qué es Python?**
Es un lenguaje de programación de propósito general, pero viene con miles de bibliotecas para trabajar con datos. El poder y la flexibilidad con miles de bibliotecas hicieron de Python el lenguaje elegido por científicos de datos, ingenieros de datos, analistas de datos e investigadores de IA en empresas líderes y nuevas empresas por igual.


# **Tu primer programa**

In [ ]:
#versión de python
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#se agrega un símbolo de gato para agregar comentarios, estos no aparecerán en el tiempo de ejecución
print("Hello Python 101")

Hello Python 101

In [ ]:
#una mala sintaxis imprimirá un error de consola:
#python es un lenguaje interpretado, interpreta el script línea por línea conforme se ejecuta
frint("Hello Python 101")

NameError: ignored

In [ ]:
#¿Cuál será el resultado de la siguiente línea?
print("Hello\nWorld!")
#Se producirá un salto de línea con el \n

#¿Cual será el resultado de la siguiente línea?
# print('Hello World!')
#Se genera un comentario, por lo que no hay output

Hello
World!

# **Tipos de datos**

Python es un lenguaje orientado a objetos, algunos de los tipos de objetos son:

1.   int: números enteros positivos o negativos
2.   float: números con decimales

1.   str: cadena de string
2.   bool: True o False

# **Type casting**
Convertir un dato a otro tipo de dato

In [ ]:
#configuraciones de los float
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
float(2.0)

2.0

In [ ]:
int(1.1)

1

In [ ]:
int('1')

1

In [ ]:
int('A')

ValueError: ignored

In [ ]:
str(1)

'1'

In [ ]:
str(4.5)

'4.5'

In [ ]:
#tipo de dato
type(True)

bool

In [ ]:
#tipo de dato
type(10.5)

float

In [ ]:
#Si hacemos un cast de un boolean true a un integer o float, obtendremos un 1
int(True)

1

In [ ]:
#Si hacemos un cast de un boolean false a un integer o float, obtendremos un 0
int(False)

0

In [ ]:
#ingresa el codigo para convertir el número 1 a boolean
bool(1)

True

# **Expresiones**
Las expresiones describen un tipo de operación que ejecuta python, por ejemplo operaciones aritméticas básicas como sumar varios números.
Llamamos a los números operandos y a los símbolos operadores.

**Operadores**

**+** suma, **-** resta, **asterísco** multiplicación, **/** división, **//** división con resultado redondeado

Python sigue las jerarquías de operaciones al ejecutar expresiones matemáticas

In [ ]:
2*60+30

150

In [ ]:
#aunque se utilice un orden diferente, python ejecuta las operaciones en el mismo orden, primero multiplicación y luego suma
30+2*60

150

In [ ]:
#las operaciones dentro de paréntesis se ejecutan primero
(30+2)*60

1920

# **Variables**
Se utilizan para almacenar valores

In [ ]:
variable=1
#imprime 1
variable
variable=10
#imprime 10
variable

10

In [ ]:
x= 43+60+16+41
x
#operaciones con variables
y=x/60
y
x=x/60
x
#se puede saber el tipo de valor de variables
type(x)

float

# **Operaciones de strings**

In [ ]:
Name=" Michael Jackson"
#Acceder a un index específico del string
Name[0]
Name[6]
Name[13]
#index negativos empiezan del último lugar al primero y empiezan en -1
Name[-2]

'o'

**Slicing**

In [ ]:
Name[8:12]

'Jack'

In [ ]:
Name[0:4]

'Mich'

**Stride**

In [ ]:
#se muestran los valores cada dos espacios (uno si, uno no)
Name[::2]

'McalJcsn'

In [ ]:
#se muestran los valores cada dos espacios, sólo hasta el espacio 5
Name[0:5:2]

'Mca'

In [ ]:
#cantidad de caracteres
len(Name)

15

**Concatenar strings**

In [ ]:
Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

**Multiplicar texto de string**

In [ ]:
DuplicatedName= Name * 3
DuplicatedName

' Michael Jackson Michael Jackson Michael Jackson'

**Escape sequences**

In [ ]:
#salto de linea
print("Michael Jackson \nis the best")

Michael Jackson
is the best

In [ ]:
#tabulador
print("Michael Jackson \tis the best")

Michael Jackson 	is the best

In [ ]:
#para una diagonal invertida, se usa doble diagonal
print("Michael Jackson \\ is the best")
#también puede ponerse una r antes del string
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best
Michael Jackson \ is the best

# **Métodos de strings**

**Uppercase**

In [ ]:
A="Thriller is the sixth studio album"
B=A.upper()
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

**Replace**

In [ ]:
B=Name.replace('Michael','Janet')
B

' Janet Jackson'

**Find**

In [ ]:
#imprime el index donde se encuentra el valor, si no existe, regresa -1
Name.find('Jack')

9

In [ ]:
"013456".find('1')

1

In [ ]:
'1'+'2'

'12'

# **Listas y tuplas**
Estos son llamados tipos de datos compuestos, y son unos de los tipos clave de estructuras de datos en Python

**Tuplas**
Las tuplas son secuencias ordenadas, son escritas separadas por comas y están entre paréntesis:
tupla=(1,2,3,4,5)

Una tupla puede contener strings, ints y float al mismo tiempo, pero el tipo de dato será tuple

In [ ]:
tuple1=("disco",10,1.2)
type(tuple1)

tuple

In [ ]:
#acceder a un index especifico, es igual que con el string
tuple1[0]

'disco'

In [ ]:
#concatenar, igual que con strings
tuple2=tuple1+("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#slicing, igual que en strings, el ultimo index es un numero mas que el numero que deseas
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
#saber longitud de tupla
len(tuple2)

5

**Las tuplas son inmutables al igual que los strings, no pueden cambiarse valores en index específicos**

**Ordenar una tupla**

In [ ]:
Ratings=(10,9,6,5,10,8,9,6,2)
RatingsSorted=sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

**Nesting**
Una tupla que puede contener otras tuplas, y otros tipos de datos complejos

In [ ]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT
#Acceder a un elemento dentro de un index
NT[2][1]

'rock'

**Listas**

La diferencia entre las listas y las tuplas, es que las listas son mutables.

In [ ]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
L=["Michael Jackson",10.1,1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
#extend para mutar las listas, agregar elementos a la lista original y extenderla, los elementos se agregan separados
L.extend(["pop",10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [ ]:
#append para agregar un elemento a la lista, este elemento puede obtener varios datos adentro
L.append(["rock",30])
L

['hard rock', 1982, 'pop', 10, ['rock', 30], ['rock', 30], ['rock', 30]]

In [ ]:
#se puede modificar un index especifico de la lista
L[0]="hard rock"
L

['hard rock', 10.1, 1982, 'pop', 10, ['rock', 30]]

In [ ]:
#eliminar elementos de la lista por index
del(L[1])
L

['hard rock', 1982, 'pop', 10, ['rock', 30]]

**Nestings, se puede hacer con otras listas o tuplas**

In [ ]:
L=["Michael Jackson",10.1,1982,[1,2],("A",1)]
L

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

**Se puede acceder a los index de igual manera que en las tuplas, también el slicing y la concatenación**

**Convertir string a lista:**

In [ ]:
"hard rock".split()

['hard', 'rock']

In [ ]:
#crear lista separando los valores en base a un caracter específico
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

**Aliasing: si dos variables refieren a la misma lista, y un valor de una de las variables cambian, en la otra variable también cambiarán**

In [ ]:
B=L
B

['hard rock', 1982, 'pop', 10, ['rock', 30]]

**Clonar una lista: (si se cambia el valor de una, no afecta a la otra)**

In [ ]:
B=L[:]
B

['hard rock', 1982, 'pop', 10, ['rock', 30]]

# **Sets**

A diferencia de las listas y tuplas, no son ordenados, no guardan posición de elementos, solo tienen elementos únicos, no tiene elementos duplicados

In [ ]:
set1={"pop","rock","soul","rock","r&b","disco","rock"}
set1

{'disco', 'pop', 'r&b', 'rock', 'soul'}

**Convertir una list a un set con type-casting (función set())**

In [ ]:
album=["Michael","Thriller","Thriller",1982]
cast_set=set(album)
cast_set

{1982, 'Michael', 'Thriller'}

**Añadir elemento a set**

In [ ]:
cast_set.add("NSYNC")
cast_set

{1982, 'Michael', 'NSYNC', 'Thriller'}

**Eliminar elemento de set**

In [ ]:
cast_set.remove("NSYNC")
cast_set

{1982, 'Michael', 'Thriller'}

**Comprobar si existe un elemento en set**

In [ ]:
"Michael" in cast_set

True

In [ ]:
"Who" in cast_set

False

**Intersección entre dos sets, elementos en común**

In [ ]:
album_set_1={"AC","Back","Thriller"}
album_set_2={"AC","Thriller","Dark"}
album_set_3=album_set_1 & album_set_2
album_set_3

{'AC', 'Thriller'}

**La unión de dos sets crea un nuevo set que contiene los elementos de los dos anteriores**

In [ ]:
#unión de dos sets
album_set_1.union(album_set_2)

{'AC', 'Back', 'Dark', 'Thriller'}

**Método subset**

In [ ]:
album_set_3.issubset(album_set_1)

True

In [ ]:
album_set_1.issubset(album_set_3)

False

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

# **Diccionarios**

Son un tipo de colección en Python, a diferencia de las listas, en vez de utilizar index, los diccionarios tienen keys y valores.
Las keys no tienen que ser numericas obligatoriamente como los index, normalmente suelen ser caracteres.
Los valores pueden ser inmutables, mutables y duplicados.

In [ ]:
#crear un diccionario
{"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4),('key5'):5}

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

In [ ]:
DICT={"Thriller":"1982","Back in Black": "1980","The dark side of the moon":"1973","The BodyGuard":"1992"}
DICT

{'Thriller': '1982',
 'Back in Black': '1980',
 'The dark side of the moon': '1973',
 'The BodyGuard': '1992'}

In [ ]:
#ver valor de una key específica
DICT["Thriller"]

'1982'

In [ ]:
#Agregar una nueva entrada al diccionario
DICT['Graduation']="2007"
DICT

{'Thriller': '1982',
 'Back in Black': '1980',
 'The dark side of the moon': '1973',
 'The BodyGuard': '1992',
 'Graduation': '2007'}

In [ ]:
#Eliminar entrada del diccionario
del(DICT['Thriller'])
DICT

{'Back in Black': '1980',
 'The dark side of the moon': '1973',
 'The BodyGuard': '1992',
 'Graduation': '2007'}

In [ ]:
#Verificar si un elemento está en el diccionario
'The BodyGuard' in DICT

True

In [ ]:
#Ver todos los keys de un diccionario
DICT.keys()

dict_keys(['Back in Black', 'The dark side of the moon', 'The BodyGuard', 'Graduation'])

In [ ]:
#obtener valores de diccionario
DICT.values()

dict_values(['1980', '1973', '1992', '2007'])

# **Condiciones y derivaciones (branching)**

**Condiciones**

Las operaciones de comparación, comparan algunos valores y operandos, y basados en una condición regresan un boolean.

In [ ]:
a=6
#Comparación de dos valores, regresa un boolean
a==6

True

In [ ]:
#Si a es mayor a 5
a>5
#si es menor a 5
a<5

False

In [ ]:
#Si a es mayor o igual a 6
a>=6

True

In [ ]:
#si a es diferente a 6
a!=6

False

**Branching**

Nos permite correr diferentes declaraciones para un input diferente

**If statement**

In [ ]:
age=18
if(age>18):
  print("you can enter")
#elif significa else if
elif(age==18):
  print("go see Pink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

go see Pink Floyd
move on

**Operadores lógicos**

Los operadores lógicos toman valores boolean y produce diferentes valores boolean

In [ ]:
#Regresa el valor contrario al valor actual del boolean, equivalente a !variable
not(True)

False

**Operador or**

Solo regresa un False si todas las condiciones son falsas

In [ ]:
album_year=1990
if(album_year<1980)or(album_year>1989):
  print("The album was made in the 70's or the 90's")
else:
  print("The album was made in the 80's")

The album was made in the 70's or the 90's

**Operador and**

Solo regresa un True si todas las condiciones son True

In [ ]:
album_year=1983
if(album_year>1979)and(album_year<1990):
  print("The album was made in the 80's")

The album was made in the 80's

# **Loops**

**Range function**

Imprime una secuencia ordenada como una lista, si el input es un número positivo, la salida es una secuencia que contendrá el mismo número de elementos que el input, pero empezará en cero.

In [ ]:
# [0,1,2]
range(3)

range(0, 3)

In [ ]:
# [10,11,12,13,14]
range(10,15)

range(10, 15)

**for loops**

In [ ]:
squares=["red","yellow","green","purple","blue"]
#variable igual a la longitud de la lista squares
length=len(squares)
#for tradicional con index, de 0 a la longitud de la lista
for i in range(0,length):
  squares[i]="white"

squares

['white', 'white', 'white', 'white', 'white']

In [ ]:
squares=["red","yellow","green"]
#forEach sirve en tuplas y listas
for square in squares:
  print(square)

red
yellow
green

In [ ]:
#enumerate, sirve para obtener el index y el elemento en la lista
squares=["red","yellow","green"]
for i, square in enumerate(squares):
  print(square)
  print(i)

red
0
yellow
1
green
2

**while loops**

Solo se correrá mientras se cumpla una condición

In [ ]:
squares=["orange","orange","yellow","green"]
Newsquares=[]
i=0
#solo se ejecuta hasta que squares deje de ser orange
while(squares[i]=='orange'):
  Newsquares.append(squares[i])

  i=i+1


Newsquares

['orange', 'orange']

In [ ]:
x=3
y=1
while(y!=x):
  print(y)
  y=y+1

1
2

# **Funciones**

Reciben un input y producen un cambio o salida, son reutilizables.

**len()**

Regresa el length de un string, lista, diccionario o set.

In [ ]:
album_ratings=[10,2,3,4,5,6,3,4,5,2]
L=len(album_ratings)
L

10

**sum()**

Regresa el total de la suma de los elementos.

In [ ]:
S=sum(album_ratings)
S

44

**sorted()**

Regresa una nueva lista o tupla ordenada, a diferencia del método sort, en el cual la lista original es ordenada

In [ ]:
#funcion sorted crea una nueva lista
sorted_album_rating=sorted(album_ratings)
sorted_album_rating

[2, 2, 3, 3, 4, 4, 5, 5, 6, 10]

In [ ]:
#metodo sort para ordenar lista
album_ratings.sort()
#metodo para orden descendente de lista
album_ratings.reverse()
album_ratings

[10, 6, 5, 5, 4, 4, 3, 3, 2, 2]

**Crear funciones**

In [ ]:
#se define la función con la palabra def
def add1(a):
#se usa la tabulación para definir lo que se hace dentro de la función

  b=a+1

  return b
#se llama la función
add1(5)

#muestra los comentarios de la función
help(add1)

Help on function add1 in module __main__:

add1(a)
    #se define la función con la palabra def

In [ ]:
#función con dos parámetros
def Mult(a,b):
  c=a*b
  return c

Mult(2,3)

6

In [ ]:
#función sin return
def MJ():
  print("Michael")

MJ()

Michael

In [ ]:
#función vacía, debe llevar pass para no tener instrucciones
def NoWork():
  pass

print(NoWork())

None

In [ ]:
#loops en funciones
def printStuff(Stuff):
  for i, s in enumerate (Stuff):
    print("Album",i,"Rating is",s)
album_ratings=[10.0,8.5,9.5]
printStuff(album_ratings)

Album 0 Rating is 10.0
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [ ]:
#los parámetros varíadicos nos permiten ingresar varios elementos, se define con un *
def ArtistNames(*variadic):
  for name in variadic:
    print(name)
ArtistNames("Michael Jackson","AC/DC","QUEEN")

Michael Jackson
AC/DC
QUEEN

In [ ]:
#declarar una variable global dentro de una función
def PinkFloyd():
  global ClaimedSales
  ClaimedSales='45 million'
  return ClaimedSales

PinkFloyd()
print(ClaimedSales)

45 million

In [ ]:
a=1
def add(b):
  return a+b
c=add(10)
c

11

In [ ]:
def f(*x):
  return sum(x)

f(5,6)

11

# **Objectos**

Todo objeto tiene:
un tipo, una representación interna de datos (blueprint), un conjunto de procedimientos para interectuar con el objeto (métodos)

Un objeto es una instancia de un tipo particular

In [ ]:
#comando type para saber el tipo de objeto
type([1,2,3])
type(1)
type("cat")
type({"dog":1})

dict

# **Clases**

In [ ]:
class Circle(object):
  #init es un constructor, indica que estás creando una nueva clase e inicializar atributos de datos
  def __init__(self,radius,color):
    #self contiene todas las propiedades del círculo
    self.radius=radius;
    self.color=color;
  
  def add_radius(self,r):
    self.radius=self.radius+r
    return(self.radius)

RedCircle=Circle(10,"red")
RedCircle.color="blue"

RedCircle.add_radius(8)

18

In [ ]:
x=1
if(x!=1):
  print('Hello')
else:
  print('Hi')
print('Mike')

Hi
Mike

In [ ]:
A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [ ]:
def Delta(x):

  if x==0:

    y=1;

  else:

    y=0;

  return(y)

Delta(0)

1

# **Reading files with Open**

In [29]:
#r para read
with open("/resources/data/Example2.txt","r") as File1:
File1.name
File1.mode
#siempre se debe cerrar el archivo
File1.close
#con el metodo with, siempre se cierra el archivo
with open("/resources/data/Example2.txt","r") as File1:
  for line in File1:
    print(line)
  file_stuff=File1.read()
  print(file_stuff)
print(File1.closed)
print(file_stuff)
file_stuff=File1.readLines(4)
file_stuff=File1.readLine()

FileNotFoundError: ignored

# **Writing Files with Open**

In [ ]:
#w para write
with open("/resources/data/Example2.txt","w") as File1:
  File1.write("This is line A\n")
  File1.write("This is line B")

Lines=["This is line A\n","This is line B\n"]

with open("/resources/data/Example2.txt","w") as File1:
  for line in Lines: 
    File1.write(line)

#append
with open("/resources/data/Example2.txt","a") as File1:
  File1.write("This is line C\n")
#copiar un archivo
with open("/resources/data/Example1.txt","r") as readfile:
  with open("/resources/data/Example3.txt","w") as writefile:
    for line in Lines: 
      writefile.write(line)

# **Importing pandas**

In [34]:
import pandas as pd

In [32]:
csv_path='file1.csv'

In [33]:
df=pd.read_csv(csv_path)
#examinar las primeras 5 lineas del dataframe
df.head()

EmptyDataError: ignored

# **Dataframes**

In [50]:
songs={'Album':['Thriller','Back in black'],'Released':[1982,1993],'Length':['00:23:19','00:34:22']}
songs_frame= pd.DataFrame(songs)
songs_frame

           Album  Released    Length
0       Thriller      1982  00:23:19
1  Back in black      1993  00:34:22

In [45]:
#crear dataframe en base a una columna
x=songs['Length']
x

['00:23:19', '00:34:22']

In [47]:
#acceder a cierta columna específica
songs.ix[0,0]

AttributeError: ignored

In [49]:
#slice en dataframes
z=songs.ix[0:2,'Length':'Released']

AttributeError: ignored

# **Working with and saving data with pandas**

In [54]:
#regresa solo los elementos únicos en la columna
songs['Released'].unique()
#filtrado por dato específico
songs['Released']>=1980

AttributeError: ignored

In [55]:
#guardar como csv
songs.to_csv('new_songs.csv')

AttributeError: ignored